<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.hobbyverse.mapper.MyMapper">
	<!-- 유저를 찾는 메퍼 -->
    <select id="getUser" parameterType="com.springboot.hobbyverse.model.User" resultType="com.springboot.hobbyverse.model.User">
        SELECT * FROM users WHERE email = #{email} and password=#{password}
    </select>
    <!-- 관리자를  -->
    <select id="getAdmin" parameterType="com.springboot.hobbyverse.model.Admin" resultType="com.springboot.hobbyverse.model.Admin">
        SELECT * FROM users WHERE email = #{email} and password=#{password}
    </select>
</mapper>